@import '../../utils/mixins';
@import '../../utils/variables';

.ho-banners {
    @include center;
    width: 100%;
    margin: 50px 0px;

    h6 {
        font-family: 'Roboto';
        font-weight: 700;
        margin-bottom: 25px;

        span {
            color: $secondary;

        }
    }
}

.ho-promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.ho-ba {
    display: flex;
    width: 32%;
    max-height: 200px;
    margin-left: 5px;
    margin-top: 5px;
    color: $white;

}

.ho-ba-con {
    width: 70%;
    @include center;
    flex-direction: column;
}

.ho-con-img {
    width: 100%;
    min-width: 270px;
    max-height: 170px;
    overflow: hidden;
    border-radius: 7px;
    @include center;
    
}

.ho-ba-img {
    width: 100%;
}

.ho-division {
    background: $secondary;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    margin-left: -70px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 100;
}

.ho-con-icon {
    width: 55px;
    height: 40px;
    background: $primary;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    
}

.ho-ba-ico {
    width: 22px;
    
}

.ho-text {
    margin: 30px 20px 0px 0px;
    text-align: end;
}

.rotate {
    height: 130%;
    background-color: #d4002a;
    border: 20px solid #d4002a;
    transform-origin: 0 -86%;
    transform: rotate(13deg);
    content: "";
    z-index: 90;
}
