@import '../../utils/mixins';
@import '../../utils/variables';

.ho-banners {
    @include center;
    width: 100%
}

.ho-promo {
    @include center;
}


.ho-ba {
    display: flex;
    width: 368px;
    max-height: 200px;
    margin-left: 5px;
    margin-top: 5px;
    color: $white;

}

.ho-ba-con {
    width: 70%;
    @include center;
    flex-direction: column;
}

.ho-con-img {
    width: 270px;
    min-width: 270px;
    max-height: 170px;
    overflow: hidden;
    border-radius: 7px;
    @include center;
    
}

.ho-ba-img {
    width: 100%;
}

.ho-division {
    background: $secondary;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    margin-left: -70px;
    width: 122px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.ho-con-icon {
    width: 55px;
    height: 40px;
    background: $primary;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    
}

.ho-ba-ico {
    width: 22px;
    
}

.ho-text {
    @include center;

}

