@import '../../utils/mixins';
@import '../../utils/variables';

.ho-ca {
    border-bottom: 7px solid $secondary;
    max-height: 400px;
    overflow: hidden;
    @include center;
}

.ho-img {
    width: 100%; 
}