@import '../../utils/mixins';
@import '../../utils/variables';

.carFleet {
    width: 100%;
    @include center;
    margin-bottom: 50px;
    
}

.s1-card {
    display:  flex;
    width: 58%;
}

.s1-con-table {
    width: 60%;
    background-color: $white;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    

    button {
        @include button;
        padding: 4px 30px;
    }
    .s1-con-table-title {
        padding: 30px;
        justify-content: space-between;
        display: flex;
    }

}

.s1-con-img {
    width: 40%;
    margin: 10px 0px 10px 10px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    overflow: hidden;
    
    .car-img {
        width: 85%
    }
    background-color: $white;
}

.s1-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 95px;
}

.s1-description {
    padding: 20px;
    button {
        @include button;
    }
}

.s1-bg {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCu-gz9CiIsl1AgpAbjqSrxLvnr5Ww0ozpmg&usqp=CAU");
    @include center;

}

.s1-rates {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
    border-bottom: 1px solid $textinput;
    div {
        display: flex;
        p   {
            margin: 0px;
        }
    }
    span {
        color: $secondary;
        font-weight: 700;
        font-size: 1.1em;
    }
   
}

.s1-rates-title {
    display: flex;
    justify-content: space-between;
    background-color: $iconinput;
    padding: 10px 30px;
    align-items: center;
    font-weight: 700;
    
    div {
        display: flex;
    }

    img {
        margin: -2px 18px 0px 0px;
        width: 20px;
    }
    p {
        margin: 0px;
        font-size: .85em;
    }

    .s1-rates-pay {
        width: 51%;
        display: flex;
        justify-content: space-between;
    }
    
}

.s1-rates-inclusoes {
    color: $secondary;
    text-align: end;
    font-weight: 700;
}