@import '../../utils/mixins';
@import '../../utils/variables';

.s1-filter-container {
    width: 100%;
    margin: 30px 0px;
    @include center;


}

.s1-filter {
    background: $white;
    width: 58%;
    display: flex;
    padding: 30px;
    justify-content: space-around;
}

.s1-filter-checkbox {
    div {
        display: flex;
        align-items: center

    }
}
.s1-filter-divide {
    @include center;
    flex-direction: column;
}