// General
@import './components/general/navbar';
@import './components/general/footer';
@import './components/general/inputron';
@import './components/general/subscribe';
@import './components/general/buttron';

// Home
@import './components/home/carousel';
@import './components/home/banner';
@import './components/home/widget';

//Step1
@import './components/step1/cardFleet';
@import './components/step1/cardLocation';
@import './components/step1/filter';

//Step2
@import './components/step2/carSelected';
@import './components/step2/prices';
@import './components/step2/cardMap';

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: local('Roboto'), url(../fonts/Roboto-Thin.ttf) format('truetype');
  }
  
  @font-face {
      font-family: 'Roboto';
      font-weight: 300;
      src: local('Roboto'), url(../fonts/Roboto-Light.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('truetype');
  }
  
  @font-face {
      font-family: 'Roboto';
      font-weight: 700;
      src: local('Roboto'), url(../fonts/Roboto-Bold.ttf) format('truetype');
  }
  
  @font-face {
      font-family: 'Roboto';
      font-weight: 900;
      src: local('Roboto'), url(../fonts/Roboto-Black.ttf) format('truetype');
  }
  
  


