@mixin help {
    border: 2px solid red;
} 

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
        border: none;
        border-radius: 5px;
        height: 36px;
        color: $white;
        background-color: $secondary;
        padding: 4px auto;
        margin: 0px;    
}