//Colores

$primary : #242f43;
$secondary: #d4002a;
$iconinput: #97a2b2;
$textinput: #a7b4c5;
$body: #f1f5f8;
$white: #ffffff;
$icon: #6d82a8;
$linea: #414f67;
$footer: #192539;


//Size

$mobile: 575px;
$small: 768px;   
$medium: 1200px;
$big: 1751px;

// @media screen and (max-width: $mobile){}
// @media screen and (max-width: $small){}
// @media screen and (max-width: $medium){}
// @media screen and (max-width: $big){}


//border-radius

$radius: 7px;