.ge-na {
  background: #ffffff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #242f43 !important; }

.ge-img {
  width: 160px;
  margin-top: 17px; }

.nav-link {
  text-decoration: none !important;
  color: #242f43 !important;
  font-size: 0.8rem !important;
  font-family: 'Roboto';
  font-weight: 700; }

.navbar {
  width: 70% !important; }

.ge-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #242f43;
  position: absolute; }

.ge-fo-pa {
  width: 70%;
  margin-top: 17px;
  font-family: 'Roboto';
  font-weight: 100;
  margin: 30px 0px; }

.ge-fo-hr {
  color: #414f67;
  background-color: #414f67;
  height: 1px;
  margin: 27px 0px; }

.ge-fo-links {
  color: #ffffff; }
  .ge-fo-links h4 {
    color: #d4002a; }
  .ge-fo-links img {
    width: 22px;
    margin-right: 15px;
    margin-top: 10px; }
  .ge-fo-links a {
    text-decoration: none !important;
    color: #ffffff; }
  .ge-fo-links a:hover {
    text-decoration: none !important;
    color: #ffffff; }

.ge-fo-con-copy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #192539;
  height: 62px;
  font-weight: 100; }

.ge-fo-copyright {
  width: 70%; }
  .ge-fo-copyright img {
    width: 100px;
    height: 23px;
    margin-left: 10px; }
  .ge-fo-copyright p {
    margin: 0px;
    padding: 0px; }

.ge-in-img {
  width: 40px !important;
  background-color: #ffffff !important;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border: none !important; }

.ge-in-ico {
  width: 18px; }

.ge-in-pla {
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
  color: #a7b4c5 !important;
  border: none !important;
  height: 36px !important; }

.input-group {
  border: 1px solid #97a2b2 !important;
  border-radius: 5px !important; }

.ge-fo-su {
  background: #242f43;
  color: #ffffff; }

.ge-buttron {
  border: none;
  border-radius: 5px;
  height: 36px;
  color: #ffffff;
  background-color: #d4002a;
  padding: 4px 50px;
  margin: 0px;
  width: 100%; }

.ho-ca {
  border-bottom: 7px solid #d4002a;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.ho-img {
  width: 100%; }

.ho-banners {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0px; }
  .ho-banners h6 {
    font-family: 'Roboto';
    font-weight: 700;
    margin-bottom: 25px; }
    .ho-banners h6 span {
      color: #d4002a; }

.ho-promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.ho-ba {
  display: flex;
  width: 32%;
  max-height: 200px;
  margin-left: 5px;
  margin-top: 5px;
  color: #ffffff; }

.ho-ba-con {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.ho-con-img {
  width: 100%;
  min-width: 270px;
  max-height: 170px;
  overflow: hidden;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center; }

.ho-ba-img {
  width: 100%; }

.ho-division {
  background: #d4002a;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  margin-left: -70px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 9; }

.ho-con-icon {
  width: 55px;
  height: 40px;
  background: #242f43;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px; }

.ho-ba-ico {
  width: 22px; }

.ho-text {
  margin: 30px 20px 0px 0px;
  text-align: end; }

.rotate {
  height: 130%;
  background-color: #d4002a;
  border: 20px solid #d4002a;
  transform-origin: 0 -86%;
  transform: rotate(13deg);
  content: "";
  z-index: 90; }

.widget {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.widget-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 57%;
  border-bottom: 7px solid #d4002a;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
  margin-top: -50px;
  z-index: 100; }
  .widget-con h6 {
    font-weight: 700;
    margin: 0px 10px;
    padding: 0px; }
    .widget-con h6 span {
      color: #d4002a; }
  .widget-con img {
    width: 18px; }

.input {
  background-color: blue; }

.temp {
  border-radius: 5px;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #97a2b2; }

.dropdown-toggle {
  background-color: #ffffff !important;
  color: #a7b4c5 !important; }

.ho-wid-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d4002a;
  font-weight: 700; }

.ho-wi-step0 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 165px;
  margin-top: 20px; }

.ho-wi-item {
  width: auto;
  height: 100px; }

.ho-wi-list {
  position: absolute;
  z-index: 10;
  width: auto;
  height: 200px; }

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: local("Roboto"), url(../fonts/Roboto-Thin.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local("Roboto"), url(../fonts/Roboto-Light.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local("Roboto"), url(../fonts/Roboto-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local("Roboto"), url(../fonts/Roboto-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: local("Roboto"), url(../fonts/Roboto-Black.ttf) format("truetype"); }
