.ge-na {
  background: #ffffff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #242f43 !important; }

.ge-img {
  width: 160px;
  margin-top: 17px; }

.nav-link {
  text-decoration: none !important;
  color: #242f43 !important;
  font-size: 0.8rem !important;
  font-family: 'Roboto';
  font-weight: 700; }

.navbar {
  width: 70% !important; }

.ge-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #242f43;
  position: absolute; }

.ge-fo-pa {
  width: 70%;
  margin-top: 17px;
  font-family: 'Roboto';
  font-weight: 100;
  margin-bottom: 30px; }

.ge-fo-hr {
  color: #414f67;
  background-color: #414f67;
  height: 1px;
  margin: 27px 0px; }

.ge-fo-links {
  color: #ffffff; }
  .ge-fo-links h4 {
    color: #d4002a; }
  .ge-fo-links img {
    width: 22px;
    margin-right: 15px;
    margin-top: 10px; }
  .ge-fo-links a {
    text-decoration: none !important;
    color: #ffffff; }
  .ge-fo-links a:hover {
    text-decoration: none !important;
    color: #ffffff; }

.ge-fo-con-copy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #192539;
  height: 62px;
  font-weight: 100; }

.ge-fo-copyright {
  width: 70%; }
  .ge-fo-copyright img {
    width: 100px;
    height: 23px;
    margin-left: 10px; }
  .ge-fo-copyright p {
    margin: 0px;
    padding: 0px; }

.ge-in-img {
  width: 40px !important;
  background-color: #ffffff !important;
  border-bottom-left-radius: 7px !important;
  border-top-left-radius: 7px !important;
  border: none !important; }

.ge-in-ico {
  width: 18px; }

.ge-in-pla {
  border-bottom-right-radius: 7px !important;
  border-top-right-radius: 7px !important;
  color: #a7b4c5 !important;
  border: none !important;
  height: 36px !important; }

.ge-fo-su {
  background: #242f43;
  color: #ffffff;
  margin-top: 50px; }

.ge-buttron {
  border: none;
  border-radius: 5px;
  height: 36px;
  color: #ffffff;
  background-color: #d4002a;
  padding: 4px 50px;
  margin: 0px;
  width: 100%; }

.ho-ca {
  border-bottom: 7px solid #d4002a;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.ho-img {
  width: 100%; }

.ho-banners {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.ho-promo {
  display: flex;
  justify-content: center;
  align-items: center; }

.ho-ba {
  display: flex;
  width: 368px;
  max-height: 200px;
  margin-left: 5px;
  margin-top: 5px;
  color: #ffffff; }

.ho-ba-con {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.ho-con-img {
  width: 270px;
  min-width: 270px;
  max-height: 170px;
  overflow: hidden;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center; }

.ho-ba-img {
  width: 100%; }

.ho-division {
  background: #d4002a;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  margin-left: -70px;
  width: 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }

.ho-con-icon {
  width: 55px;
  height: 40px;
  background: #242f43;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px; }

.ho-ba-ico {
  width: 22px; }

.ho-text {
  display: flex;
  justify-content: center;
  align-items: center; }

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: local("Roboto"), url(../fonts/Roboto-Thin.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local("Roboto"), url(../fonts/Roboto-Light.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local("Roboto"), url(../fonts/Roboto-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local("Roboto"), url(../fonts/Roboto-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: local("Roboto"), url(../fonts/Roboto-Black.ttf) format("truetype"); }
