@import '../../utils/mixins';
@import '../../utils/variables';


.ge-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $primary;
    position: absolute;
}

.ge-fo-pa {
    width: 70%;
    margin-top: 17px;
    font-family: 'Roboto';
    font-weight: 100;  
    margin-bottom: 30px; 
}

.ge-fo-hr {
    color: $linea;
    background-color: $linea;
    height: 1px;
    margin: 27px 0px;
}

.ge-fo-links {
    color: $white;
    h4 {
        color: $secondary;
    }
    img {
        width: 22px;
        margin-right: 15px;
        margin-top: 10px;
       
    }

    a {
        text-decoration: none !important;  
        color: $white; 
    }
    a:hover {
        text-decoration: none !important;  
        color: $white; 
    }

}

.ge-fo-con-copy {
    width: 100%;
    @include center;
    color: $white;
    background-color: $footer;
    height: 62px;
    font-weight: 100;
}

.ge-fo-copyright {
    width: 70%;

    img {
        width: 100px;
        height: 23px;
        margin-left: 10px;
    }

    p {
        margin: 0px;
        padding: 0px;
    }

}
