@import '../../utils/mixins';
@import '../../utils/variables';

.ge-in-img {
    width: 40px !important;
    background-color: $white !important;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border: none !important;

}

.ge-in-ico {
    width: 18px;
}

.ge-in-pla {
    border-bottom-right-radius:  5px !important;
    border-top-right-radius:  5px !important;
    color: $textinput !important;
    border: none !important;
    height: 36px !important;

}

.input-group {
    border: 1px solid $iconinput !important;
    border-radius: 5px !important;
}

