@import '../../utils/mixins';
@import '../../utils/variables';

.ge-na {
    background: $white;
    width: 100%;
    height: 70px;
    @include center;
    color: $primary;
}

.ge-img {
    width: 160px;
    margin-top: 17px;
}
