@import '../../utils/mixins';
@import '../../utils/variables';

.ge-na {
    background: $white;
    width: 100%;
    height: 70px;
    @include center;
    color: $primary !important;    
}

.ge-img {
    width: 160px;
    margin-top: 17px;
}

.nav-link {
    text-decoration: none !important;   
    color: $primary !important;   
    font-size: .8rem!important;
    font-family: 'Roboto';
    font-weight: 700;
}

.navbar {
    width: 70% !important;
    @media screen and (max-width: $medium) {
        width: 84% !important;
    }
}
